@tailwind base;
@tailwind components;
@tailwind utilities;


 @font-face {
    font-family: "Gilroy Regular";
    font-weight: normal;
    src: url("/fonts/Gilroy-Regular.ttf")   ;

    font-family: "Gilroy Medium";
    font-weight: medium;
    src: url("/fonts/Gilroy-Medium.ttf");

    font-family: "Gilroy Bold";
    src: url("/fonts/Gilroy-Bold.ttf");

    

  }
